.content {
  width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  background: rgb(202, 202, 202);
  padding: 20px;
  color: #000;
  margin-top: 20px;
}

.footer-img img {
  width: 35px;
}

.footer-img {
  display: flex;
  gap: 20px;
}
