*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    background-color: black;

}

.left-header img{
    width: 90px;
    height: 90px;
    margin-left: 50px;
    cursor: pointer;
    border-radius: 20%;
    border: 3px solid gold;
}
.left-header img:hover{
    border-radius: 130%;
    transition: 2s;
    border: 3px solid blue;
}


.right-header a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 40px;
    color: white;
}

.right-header a:hover{
    color: rgb(242, 17, 133);
    transition: 1s;
}

h1{
    color: rgb(243, 14, 29);
    letter-spacing: 3px;
    font-weight: 100;  
    cursor:crosshair
}

h1:hover{
    color: yellow;
    transition: 1s;
    font-size: 50px;
    letter-spacing: 4px;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header {
    background: linear-gradient();
    color: #fff;
    padding: 15px 0;
  }
  
  .logo {
    margin: 0;
  }
  
  .nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .nav ul li:last-child {
    margin-right: 0;
  }
  
  .nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  .nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* CSS STEELS */
.burger {
    display: none;
    cursor: pointer;
  }
  
  .burger .line1,
  .burger .line2,
  .burger .line3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    transition: all 0.3s ease;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      align-items: center;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  
    .burger {
      display: block;
    }
  
    .burger.active .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .burger.active .line2 {
      opacity: 0;
    }
  
    .burger.active .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
  

  /*////////////////START-MAIN/////////////////////////////////// */
  @import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
  @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
  
  #main{
    width: 100%;
    padding: 0;
  }
  .content-asset p{
    margin: 0 auto;
  }
  .breadcrumb{
    display: none;
  }
  .margin-top-10 {
    padding-top: 10px;
  }
  .margin-bot-10{
    padding-bottom: 10px;
  }
  #parallax-world-of-ugg h1{
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    padding: 0;
    margin: 0;
  }
  #parallax-world-of-ugg h2{
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    letter-spacing: 10px;
    text-align: center;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    z-index: 10;
    opacity: .9;
  }
  #parallax-world-of-ugg h3{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    line-height: 0;
    font-weight: 400;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: black;
  }
  #parallax-world-of-ugg p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  .first-character{
    font-weight: 400;
    float: left;
    font-size: 84px;
    line-height: 64px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .sc{
    color: #3b8595;
  }
  .ny{
    color: #3d3c3a;
  }
  .atw{
    color: #c48660;
  }
  #parallax-world-of-ugg .title{
    background: white;
    padding: 60px;
    margin: 0 auto;
    text-align: center;
  }
  #parallax-world-of-ugg .title h1{
    font-size: 35px;
    letter-spacing: 8px;
  }
  #parallax-world-of-ugg .block{
    background: white;
    padding: 60px;
    width: 820px;
    margin: 0 auto;
    text-align: justify;
  }
  #parallax-world-of-ugg .block-gray{
    background: #f2f2f2;
    padding: 60px;
  }
  #parallax-world-of-ugg .section-overlay-mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.70;
  }
  #parallax-world-of-ugg .parallax-one{
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(https://indyguide-web-development.s3.us-east-2.amazonaws.com/listings/images/11-Days-Advanture-Tour-Around-South-west-Of-Kyrgyzstan-1609848823636.jpg);
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }
  #parallax-world-of-ugg .parallax-two{
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(https://img.geliophoto.com/bishkek/08_bishkek.jpg);
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  #parallax-world-of-ugg .parallax-three{
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(https://radioiskatel.ru/wp-content/uploads/2018/12/issyk-kul-3.jpg);
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  #parallax-world-of-ugg .line-break{
    border-bottom: 1px solid black;
    width: 150px;
    margin: 0 auto;
  }
  @media screen and (max-width: 959px) and (min-width: 768px){
    #parallax-world-of-ugg .block{
      padding: 40px;
      width: 620px;
    }
  }
  
  @media screen and (max-width: 767px){
    #parallax-world-of-ugg .block{
      padding: 30px;
      width: 420px;
    }
    #parallax-world-of-ugg h2{
      font-size: 30px;
    }
    #parallax-world-of-ugg .block{
      padding: 30px;
    }
    #parallax-world-of-ugg .parallax-one,
    #parallax-world-of-ugg .parallax-two,
    #parallax-world-of-ugg .parallax-three{
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
  
  @media screen and (max-width: 479px){
    #parallax-world-of-ugg .block{
      padding: 30px 15px;
      width: 290px;
    }
  }

.container{
    position: relative;
    width: 400px;
    height: 105px;
    background: #fff;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box input{
    color: #06283D;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
}

.search-box input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: #06283D;
    text-transform: capitalize;
}

.search-box button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #06283D;
    background: #dff6ff;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.search-box button:hover{
    color: #fff;
    background: #06283D;
}

.search-box i{
    position: absolute;
    color: #06283D;
    font-size: 28px;
}

.weather-box{
    text-align: center;
}

.weather-box img{
    width: 60%;
    margin-top: 30px;
}

.weather-box .temperature{
    position: relative;
    color: #06283D;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

.weather-box .temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box .description{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.weather-details .humidity, .weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}

.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i{
    color: #06283D;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details span{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p{
    color: #06283D;
    font-size: 14px;
    font-weight: 500;
}

.not-found{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img{
    width: 70%;
}

.not-found p{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-box, .weather-details{
    scale: 0;
    opacity: 0;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
  }
.container {
  width: 1200px;
  height: 160px;
  margin: 0 auto;
  /* border: 1px solid saddlebrown; */
}
#head {
  padding: 0;
  margin: 0 auto;
  height: 200px;
  background-color: rgb(213, 206, 196);
}
.title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-family: system-ui;
  font-style: oblique;
  color: rgb(73, 70, 65);
}
.title1 {
  width: 1200px;
  height: 70px;
  /* border: 1px solid darkblue; */
  display: flex;
  justify-content: space-between;
}
.pages1 {
  width: 300px;
  height: 40px;
  /* border: 1px solid saddlebrown; */
  margin: 15px;
}
.pages2 {
  width: 507px;
  height: 70px;
  /* border: 1px solid saddlebrown; */
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.pages3 {
  width: 300px;
  height: 70px;
  /* border: 1px solid saddlebrown; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
#search-wrapper {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.276);
  align-items: stretch;
  border-radius: 50px;
  background-color: #fff;
  overflow: hidden;
  max-width: 400px;
  box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.273);
}
#search {
  border: none;
  width: 350px;
  font-size: 13px;
  font-family: system-ui;
  font-style: oblique;
}
#search:focus {
  outline: none;
}
.search-icon {
  margin: 10px;
  color: rgba(0, 0, 0, 0.564);
}
#search-button {
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #515454;
  padding: 0px 10px;
  font-family: system-ui;
  font-style: oblique;
}
a {
  background-image: linear-gradient(to right, #f9f9f9, #e7ebec 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  font-family: system-ui;
  font-style: oblique;
}

a:before {
  content: "";
  background: #f7f9fa;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  background-position: 0;
}

a:hover::before {
  width: 100%;
}
.bin {
  color: #494a4a;
}
.bin:hover {
  color: #ffffff;
}
.bij {
  color: #494a4a;
}
.bij:hover {
  color: #ffffff;
}
.bil {
  color: #494a4a;
}
.bil:hover {
  color: #ffffff;
}

.title {
  width: 1200px;
  height: 70px;
}
h1 span {
  font-size: 10rem;
  font-family: "Bad Script", cursive;
  color: #111;
  animation: glowing 2s linear infinite;
  font-size: 50px;
  margin-top: -10px;
}

@keyframes glowing {
  0%,
  100% {
    color: #ffffff;
    filter: blur(2px);
    text-shadow: 0 0 10px #636464, 0 0 20px #747677, 0 0 40px #707274,
      0 0 80px #8b8e8f, 0 0 120px rgb(118, 120, 121), 0 0 200px #6a6c6c,
      0 0 300px #636464, 0 0 400px #595b5b;
  }
  5%,
  95% {
    color: #3b3b3b;
    text-shadow: none;
    filter: blur(0px);
  }
}

h1 span:nth-child(1) {
  animation-delay: 0s;
}

h1 span:nth-child(2) {
  animation-delay: 0.25s;
}

h1 span:nth-child(3) {
  animation-delay: 0.5s;
}

h1 span:nth-child(4) {
  animation-delay: 0.75s;
}

h1 span:nth-child(5) {
  animation-delay: 1s;
}

h1 span:nth-child(6) {
  animation-delay: 1.25s;
}

h1 span:nth-child(7) {
  animation-delay: 1.5s;
}

h1 span:nth-child(8) {
  animation-delay: 1.75s;
}

.src {
  width: 1200px;
  height: 100px;
  /* border: 2px solid saddlebrown; */
  position: relative;
  background-color: #ffffff;
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  margin-top: -8px;
}
.wrapper ul {
  list-style: none;
}
.wrapper ul li {
  width: 70px;
  height: 70px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #7c827e;
  float: left;
  transition: all 0.5s ease;
  margin-left: 20px;
}
.wrapper ul li .fa {
  color: #d8e2dc;
  margin-top: 15px;
  transition: all 0.5s ease;
}
.wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.google {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
  border: 5px solid #4dc247;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

/* media queries */

@media screen and (max-width: 640px) {
  .wrapper {
    width: 350px;
  }
  .wrapper ul li {
    margin-top: 10px;
  }
  .wrapper ul li.google {
    margin-left: 60px;
  }
}

@media screen and (max-width: 340px) {
  .wrapper {
    width: 150px;
  }
  .wrapper ul li {
    margin: 15px;
  }
  .wrapper ul li.google {
    margin-left: 15px;
  }
}
/* youtube link */
.youtube {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 160px;
  text-align: center;
  padding: 15px 10px;
  background: #bb0000;
  border-radius: 5px;
}

.youtube a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
}
/* 


/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}
/*=============== BASE ===============*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}


.card__container {
  display: flex;
  justify-content: space-between  ;
  row-gap: 3.5rem;
  margin-top: 20px;
  
} 

.card__article {
  position: relative;
  overflow: hidden;
  
}

.card__img {
  width: 328px;
  border-radius: 1.5rem;
}

.card__data {
  width: 280px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
  background-color: rgb(255, 255, 255);

}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card__button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: yellowgreen;
}

.navigation {
  position: relative;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #333;
  /* border-radius: 10px;     */
  position: relative;
  bottom: 200px;

}

.navigation ul {
  position: relative;
  display: flex;
  width: 350px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  font-size: 1.5em;
  line-height: 75px;
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.5);
}

.navigation ul li:hover a .icon {
  color: rgba(255, 255, 255, 1);
}

.navigation ul li.active a .icon {
  transform: translateY(-8px);
  color: #29fd53;
}

.navigation ul li a .text {
  position: absolute;
  opacity: 0;
  font-weight: 600;
  font-size: 0.5em;
  color: #222327;
  transition: 0.5s;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transform: translateY(0px);
}

.navigation ul li.active a .text {
  transform: translateY(13px);
  opacity: 1;
}

.indicator {
  position: absolute;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.indicator::before {
  content: "";
  position: absolute;
  bottom: 13px;
  width: 80%;
  height: 14px;
  background: #29fd53;
  border-radius: 10px;
}

.indicator::after {
  content: "";
  position: absolute;
  top: -3px;
  width: 7.5px;
  height: 7.5px;
  border-radius: 50%;
  background: #333;
  box-shadow: 0 0 0 2px #29fd53, 50px 50px #29fd53, 40px 0 #29fd53,
    0 40px #29fd53;
  transform: rotate(45deg);
  animation: animate 2s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    transform: rotate(35deg);
  }
  50% {
    transform: rotate(55deg);
  }
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}
